Name:      {{ .Name }}
Namespace: {{ .Namespace }}
Group:     {{ .GroupVersionKind.Group }}
Kind:      {{ .GroupVersionKind.Kind }}
TargetRef:
    Group:     {{ .Spec.TargetRef.Group }}
    Kind:      {{ .Spec.TargetRef.Kind }}
    Name:      {{ .Spec.TargetRef.Name }}
    {{- if .Spec.TargetRef.Namespace }}
    Namespace: {{ .Spec.TargetRef.Namespace }}
    {{- end }}
