Name:         {{ .Gateway.Name }}
Namespace:    {{ .Gateway.Namespace }}
GatewayClass: {{ .Gateway.Spec.GatewayClassName }}
DirectlyAttachedPolicies:
    {{- range .DirectlyAttachedPolicies }}
    - Kind:  {{ .GroupVersionKind.Kind }}
      Group: {{ .GroupVersionKind.Group }}
      Name:  {{ .GetName }}
    {{- end }}
InheritedPolicies:
    {{- range .InheritedPolicies }}
    - Kind:  {{ .GroupVersionKind.Kind }}
      Group: {{ .GroupVersionKind.Group }}
      Name:  {{ .GetName }}
    {{- end }}
